.rectangle-copy {
	height: 180px;
	width: 952px;
	background: linear-gradient(125.99deg, #1674A6 0%, #5F1256 100%);
  /* add background-image on horizontal repeat and 0.21 alpha */
}
.office-of-something {
	height: 113px;
	width: 620px;
	color: #f8f8f8;
	font-family: "Open Sans";
	font-size: 36px;
	font-weight: bold;
	line-height: 55px;
	text-align: center;
}
